.footer{
    background-color: #000;
    color: #fff;
    flex-wrap: wrap;
}

.footer .footer_top{
    padding: 40px;
}

.footer .copy-right_text{
    padding: 0px;
}

.footer .content{
    width: 40%;
    margin: 0 auto;
}

.footer .content .col-xl-12{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
}

.footer .icons i{
    font-size: 15px;
    padding: 10px;

}

.footer .content .col-xl-12 h4, a{
    color: #fff;
    text-align: center;
}
.footer .content .col-xl-12 a{
    font-size: 70%;
}
.footer .content .col-xl-12 a::selection , h4::selection{
    color: black;
    background-color: white;
}

.footer .content img{
    width: 10%;
}

.copy-right_text{
    background-color: #fff;
}

@media (max-width: 768px)
{
    .banner .slider_text h3, a{
        text-align: center;
    }
    .banner .slider_text {
        width: 100%;
        margin-left: 0;
    }

    .banner .button-banner{
        width: 0 auto;
        text-align: center;
    }

    .slider_area .single_slider .slider_text {

        left: 0%;
      }
}

.slider_area{
    right: 0px;
}