.footer{
    background-color: #000;
    color: #fff;
    flex-wrap: wrap;
}

.footer .footer_top{
    padding: 40px;
}

.footer .copy-right_text{
    padding: 0px;
}

.footer .content{
    width: 40%;
    margin: 0 auto;
}

.footer .content .col-xl-12{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
}

.footer .icons i{
    font-size: 15px;
    padding: 10px;

}

.footer .content .col-xl-12 h4, a{
    color: #fff;
    text-align: center;
}
.footer .content .col-xl-12 a{
    font-size: 70%;
}
.footer .content .col-xl-12 a::selection , h4::selection{
    color: black;
    background-color: white;
}

.footer .content img{
    width: 10%;
}

.copy-right_text{
    background-color: #fff;
}

.slider_area{
    right: 0px;
}

@media (max-width: 768px)
{
    .banner .slider_text h3, p{
        text-align: center;
    }
    .banner .slider_text {
        width: 100%;
        margin-left: 0;
    }

    .banner .button-banner{
        width: 0 auto;
        text-align: center;
    }

    .slider_area .single_slider .slider_text {
        left: 0%;
    }

    .service_area .single_service {
        padding: 20px 5px 20px 5px;
        
        min-height: 300px;
      
      }

      .faixa-carrosel{
          height: 200px;
          width: 100%;
      }

      .footer .content{
        width: 100%;
    }
   
    .footer .bordered_1px{
        padding: 0;
    }
    .footer .col-xl-12 p{
        font-size: 50%;
        text-align: center;
    }

    .botao-pdf a{
        margin-bottom: 20px;
    }

    .cinza .pet_thumb img{
        margin-top: 20px;
    }

    .produto img{
        margin-left: -30px ;
    }

    .botao_compra a{
        width: 90%;
    }
}

